---
layout: page
title: Show Posts By Category
permalink: /category
---

<div id="cate-list">
  {% for cate in site.categories %}
    <div class="cate-list-item" cate="{{cate[0]}}" style="display:none;">
      <div class="cate-name title is-3"><span class="icon title is-5"><i class="fa fa-folder-open"></i></span>&nbsp;{{cate[0]}}</div>
      <ul>
        {% for post in cate[1] %}
        <li class="tag-post-item">
          <nav class="panel">
            <p class="panel-heading">
              <a class="cate-post-link" href="{{post.url}}">{{post.title}}</a>
              <span class="post-date">{{post.date | date:"%Y年%m月%d日"}}</span>
            </p>
            <div class="panel-block">
              <div class="post-abbs">{{post.excerpt}}</div>
            </div>
          </nav>  
        </li>
        {% endfor %}
      </ul> 
    </div>
  {% endfor %}
</div>

<script>
  (function ($) {
    $.getUrlParam = function (name) {
     var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if (r != null) return unescape(r[2]); return null;
    }
  })(jQuery);
  var curTag = $.getUrlParam("cate");
  var tagItem = $('#cate-list .cate-list-item[cate="'+ curTag +'"]');
  tagItem.show();
</script>