---
layout: page
title: Show Posts By Category
permalink: /category
---

<div class="row" id="category_filter">
  <div class="section-heading text-center col-md-12">
    <h2>Category <strong>Filters</strong></h2>
  </div>
</div>
<div class="filters">
  <ul>
    <li class="active" data-filter="*">All</li>
    {% for category in site.categories %}
      <li data-filter=".{{category[0]}}">{{category[0]}}</li>
    {% endfor %}
  </ul>
</div>
<div id="cate-list" class="row grid">
  {% for cate in site.categories %}
  {% for post in cate[1] %}
  <div class="single-blog-post post-style-4 align-items-center all {{ cate[0] }}" >
    <a href="{{ post.url }}" class="post-thumbnail-link" >
      <div class="post-thumbnail" style="background:url(/assets/images/post/{{ post.tags[0] }});background-size: cover;background-position: center;"></div>
    </a>

    <div class="post-content">
      <a class="cate-post-link" href="{{post.url}}">{{post.title}}</a>
      <div class="post-abbs">{{post.excerpt}}</div>
      <div class="post-meta">
      <p>
        <a href="javascript:void(0);" class="post-date"><span class="icon is-small"><i class="far fa-calendar"></i></span>&nbsp;{{post.date | date_to_string}}</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="?cate={{cate[0]}}" class="post-category"><span class="icon is-small"><i class="fa fa-book"></i></span>&nbsp;{{cate[0]}}</a>
      </p>
      </div>
    </div>
  </div>
  {% endfor %}
  {% endfor %}
</div>
<script>
  (function ($) {
    $.getUrlParam = function (name) {
     var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
     var r = window.location.search.substr(1).match(reg);
     if (r != null) return unescape(r[2]); return null;
    }
  })(jQuery);
  var curTag = $.getUrlParam("cate");

  setTimeout(function(){
    console.log(curTag)
    $('.filters li[data-filter=".'+curTag+'"]').click();
  }, 0);
</script>