body{
  background: url(/assets/images/bkg1.png) repeat;
}
nav.navbar, nav.panel, .markdown{
  box-shadow: 0 2px 4px rgba(140, 140, 122, .1);
}
a{
  color: #af952e;
}
.section{
  padding: 1.5rem 1rem;
}
.column .panel-heading{
  border-width: 0.5px;
  background: #eceae0;
  color: #9c8941;
}
.column .panel-block{
  background: rgba(255,255,255,.4);
  border-width: 0.5px;
}
.panel-heading i{
  font-size: 0.8em;
}
p.panel-heading{
  margin: 0;
}
.post-date{
  font-size:.75em;
  color:#999;
}
.post-abbs{
  width: 100%;
  max-height: 150px;
  overflow-y: hidden;
  font-size: .75em;
  opacity: .85;
}
.tag-post-item{
  margin-bottom: 30px;
}
.tag-post-item .panel-heading{
  padding:.3em .4em;
  font-size: 1em;
  font-weight: 400;
}
.tag-post-item .panel-block{
  padding:.4em .75em .2em;
  background: rgba(235, 233, 225, 0.4);
}
@font-face {
  font-family: "Sacramento";
  src: url("/assets/fonts/MessyInkPen-Regular.eot?") format("eot"), url("/assets/fonts/MessyInkPen-Regular.woff") format("woff"), url("/assets/fonts/MessyInkPen-Regular.ttf") format("truetype"), url("/assets/fonts/MessyInkPen-Regular.svg#MessyInkPen-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.navbar-brand .logowd{
  font-family: 'Sacramento';
  font-style: italic;
  letter-spacing: 1px;
}
.navbar-item .logo, .navbar-item .logowd{
  color: #9c8941;
  position: relative; 
  background-image: -webkit-gradient(linear, 0 20%, 0 bottom, from(#dec151), to(#4CAF50));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.column .sidebar-tag{
  background-color: #edece8;
}
a.panel-block:hover {
  background-color: #f7f6eb;
}