<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="container is-fullhd">
    <div class="navbar-brand">
      <a class="navbar-item title is-4" href="/">
        <span class="icon logo"><i class="fa fa-lemon"></i></span>&nbsp;
        <span class="title is-3 logowd"><b>How To Draw A Mango?&nbsp;&nbsp;</b></span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            The Silk Road
          </div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/silkroad/overview">
              Overview
            </a>
            <a class="navbar-item" href="/silkroad/countries">
              Countries
            </a>
            <a class="navbar-item" href="/silkroad/maps">
              Maps
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="{{ site.github.repository_url }}" target="_blank">
          <span class="icon is-small"><i class="fab fa-github"></i></span>
        </a>
      </div>
    </div>
  </div>
</nav>