<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container is-fullhd">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/assets/images/logo.png" alt="logo" width="28" height="28">
        <span class="title is-5">&nbsp;Somebody Peels Mangoes</span>
      </a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-start">

      </div>
      <div class="navbar-end">
        <a class="navbar-item" href="{{ site.github.repository_url }}" target="_blank">
          <span class="icon is-small"><i class="fab fa-github"></i></span>
        </a>
      </div>
    </div>
  </div>
</nav>