body{
  background: url(/assets/images/bkg1.png) repeat;
}
nav.panel, .markdown{
  box-shadow: 0 2px 4px rgba(140, 140, 122, .1);
}
nav.navbar{
  border-bottom:1px solid #dad7cb;
  box-shadow: 0 2px 4px rgba(140, 140, 122, .2);
}
a{
  color: #af952e;
}
.section{
  padding: 1.5rem 1rem;
}
.column .panel-heading{
  border-width: 0.5px;
  background: #eceae0;
  color: #9c8941;
}
.column .panel-block{
  background: rgba(255,255,255,.4);
  border-width: 0.5px;
}
.panel-heading i{
  font-size: 0.8em;
}
.markdown p.panel-heading{
  margin: 0;
}
.post-date{
  font-size:.75em;
  color:#999;
}
.post-abbs{
  width: 100%;
  max-height: 150px;
  overflow-y: hidden;
  font-size: .8em;
  opacity: .85;
}
.markdown li.tag-post-item{
  margin-bottom: 30px;
}
.tag-post-item .panel-heading{
  padding:.3em .4em;
  font-size: 1em;
  font-weight: 400;
}
.tag-post-item .panel-block{
  padding:.8em 1.5em .5em
  background: rgba(235, 233, 225, 0.4);
}
@font-face {
  font-family: "Sacramento";
  src: url("/assets/fonts/MessyInkPen-Regular.eot?") format("eot"), url("/assets/fonts/MessyInkPen-Regular.woff") format("woff"), url("/assets/fonts/MessyInkPen-Regular.ttf") format("truetype"), url("/assets/fonts/MessyInkPen-Regular.svg#MessyInkPen-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.navbar-brand .logowd{
  font-family: 'Sacramento';
  font-style: italic;
  letter-spacing: 1px;
}
.navbar-item .logo, .navbar-item .logowd{
  color: #009f6d;
  position: relative; 
  background: -webkit-gradient(linear, 0 30%, 0 100%, from(#dec151), to(#009f6d));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sidebar-col{
  width: 340px;
}
@media screen and (max-width: 768px) {
  .sidebar-col{
    width: auto;
  }
}
.sidebar-col .sidebar-tag{
  background-color: #edece8;
}
a.panel-block:hover {
  background-color: #f7f6eb;
}
.recent-posts-ul{
  width: 100%;
  margin: 0;
  padding: 10px;
}
.recent-posts-item{
  line-height: 28px;
  display: flex;
}
.recent-post-lkdiv{
  width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: .9em;
}
.recent-posts-item .post-date{
  width: 30%;
  display: block;
  text-align: right;
}


/*markdown*/
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.markdown {
  background: #fefefe;
  /*padding: 45px 30px;*/
  padding: 3em 1.5em;
  border: .5px solid #dbdbdb;
  border-top-color: #e5e5e5;
  border-left-color: #e5e5e5;
}
.markdown .title:not(.is-spaced)+.subtitle{
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.markdown img {
  /*box-shadow: 1px 1px 8px rgba(89, 83, 48, 0.1)*/
}
@media
only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  .markdown .img-x2 {
    zoom: 0.5;
  }
}
.markdown .img-center{
  margin: 0 auto;
  display: block;
}

.markdown table {
  width: 100%;
  border-collapse: collapse; }

.markdown th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(165, 192, 203, 0.8);
  color: #b6b6b6;
  font-family: 'OpenSansSemibold', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal; }

.markdown td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid rgba(191, 211, 219, 0.5) }

.markdown blockquote {
  border-left: 5px solid #cebb72;
  background: rgba(206, 187, 114, 0.05);
  margin: 0 0 10px;
  padding: 10px 5px 10px 20px;
  font-family: 'Kalam', 'KaiTi', 'STKaiTi';
  color: rgba(0,0,0,.68);
}
.markdown blockquote p{
  margin: 0;
}
@font-face {
  font-family: "Kalam";
  src: url("/assets/fonts/Kalam-Regular.eot?") format("eot"), url("/assets/fonts/Kalam-Regular.woff") format("woff"), url("/assets/fonts/Kalam-Regular.ttf") format("truetype"), url("/assets/fonts/Kalam-Regular.svg#Kalam-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.markdown em{
  font-family: Monaco, Bitstream Vera Sans Mono, Consolas, Lucida Console, Terminal, 'KaiTi', 'STKaiTi';
  color: #076;
/*  font-size: .9em;*/
}
.markdown p, .markdown table, ul, ol, table, pre, dl {
  margin: 0 0 10px;
}
.markdown li{
  margin: 0 0 5px;
}
.markdown .footnotes p{
  margin-bottom: 0;
  font-size: .875em;
  font-family: 'Kalam', 'KaiTi', 'STKaiTi';
}
menu, ol, ul {
  padding: 0 0 0 30px;
}

dl, menu, ol, ul {
  margin: 1em 0;
}

ul{
  list-style-image: url(../images/arrow.svg);
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

.markdown code{
  font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;
  font-size: 13px;
  font-size: 1em;
  color: #F44336;
  font-size: 0.875em;
  line-height: 1;
}
.markdown pre code { 
  color: #efefef;
  border-radius: 2px;
  margin: 0;
  padding: 0;
}
.highlight table td {
  padding: 5px; }

.highlight table pre {
  margin: 0; }
.highlight pre {
  /*padding: 8px 15px;*/
  padding: .8rem 1.2rem;
  background: #444;
  border-radius: 3px;
  box-shadow: inset -1px -1px 1px rgba(112, 110, 104, 0.8), inset 1px 1px 3px rgb(31, 31, 31);
  overflow: auto;
  overflow-y: hidden;
  line-height: 1.3;
}
.highlight, .highlight .w {
  color: #d0d0d0; }

.highlight .err {
  color: #151515;
  background-color: #ac4142; }

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #888; }

.highlight .cp {
  color: #f4bf75; }

.highlight .nt {
  color: #f4bf75; }

.highlight .o, .highlight .ow {
  color: #d0d0d0; }

.highlight .p, .highlight .pi {
  color: #d0d0d0; }

.highlight .gi {
  color: #90a959; }

.highlight .gd {
  color: #ac4142; }

.highlight .gh {
  color: #6a9fb5;
  font-weight: bold; }

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #aa759f; }

.highlight .kc {
  color: #d28445; }

.highlight .kt {
  color: #d28445; }

.highlight .kd {
  color: #d28445; }

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #90a959; }

.highlight .sr {
  color: #75b5aa; }

.highlight .si {
  color: #8f5536; }

.highlight .se {
  color: #8f5536; }

.highlight .nn {
  color: #f4bf75; }

.highlight .nc {
  color: #f4bf75; }

.highlight .no {
  color: #f4bf75; }

.highlight .na {
  color: #6a9fb5; }

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #90a959; }

.highlight .ss {
  color: #90a959; }


::-webkit-scrollbar
{
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.1);
    background-color: #c1c1c1;
}
