<!doctype html>
<html lang="{{ site.lang | default: "utf-8" }}">
{% include head.html %}
  <body>
    {% include navbar_home.html %}
    <section class="site-hero" style="background-image: url(/assets/images/banner_1.jpg);" id="section-home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row intro-text align-items-center justify-content-center">
          <div class="col-md-10 text-center pt-5">
            <h1 class="site-heading site-animate fadeInUp site-animated">Hello, I'm <strong class="d-block">Yizhou&nbsp;<span style="font-size: 1.5rem;font-weight: 400;color: #ddd;">the Sound Guy</span></strong></h1>
            <strong class="d-block text-white text-uppercase letter-spacing">and welcome to visit my blog</strong>
          </div>
        </div>
      </div>
    </section>

    <section class="site-section" id="section-game-audio">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-5">
          <div class="section-heading text-center">
          <h2>Articles on <strong>Game Audio</strong></h2>
          </div>
          </div>
        </div>
        <div class="row">
          {% for post in site.categories.game-audio %}
            <div class="col-sm-6 col-lg-4 mb-5">
              <div class="blog-entry">
              <a href="{{ post.url }}"><img src="/assets/images/post/{{ post.tags[0] }}" alt="Image placeholder" class="img-fluid"></a>
              <div class="blog-entry-text">
              <h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
              <div class="mb-3 excerpt-txt">{{post.excerpt}}</div>
              <div class="meta">
              <a href="javascript:void(0);"><span class="icon is-small"><i class="far fa-calendar"></i></span>&nbsp;&nbsp;{{post.date | date_to_string}}</a>
              </div>
              </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="text-center">
          <a href="/category" class="more_articles">More Articles</a>
        </div>
      </div>
    </section>

    <section class="site-section" id="section-audio-tech">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-5">
          <div class="section-heading text-center">
          <h2>Articles on <strong>Sound Technique</strong></h2>
          </div>
          </div>
        </div>
        <div class="row">
          {% for post in site.categories.audio-technique %}
            <div class="col-sm-6 col-lg-4 mb-5">
              <div class="blog-entry">
              <a href="{{ post.url }}"><img src="/assets/images/post/{{ post.tags[0] }}" alt="Image placeholder" class="img-fluid"></a>
              <div class="blog-entry-text">
              <h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
              <div class="mb-3 excerpt-txt">{{post.excerpt}}</div>
              <div class="meta">
              <a href="javascript:void(0);"><span class="icon is-small"><i class="far fa-calendar"></i></span>&nbsp;&nbsp;{{post.date | date_to_string}}</a>
              </div>
              </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="text-center">
          <a href="/category" class="more_articles">More Articles</a>
        </div>
      </div>
    </section>

    <section class="site-section" id="section-about">
      <div class="container">
      <div class="row align-items-center">
      <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
      <img src="/assets/images/image_1.jpg" alt="Image placeholder" class="img-fluid">
      </div>
      <div class="col-lg-5 pl-lg-5">
      <div class="section-heading">
      <h2>About <strong>Me</strong></h2>
      </div>
      <div class="section-about-content">
        <p class="lead">I'm a technique sound designer mainly focusing on the game industry</p>
        <p class="mb-5">I love music, sound design, foley &amp; field recording, gear DIYs, audio plugs &amp; tools making, and all sorts of audio stuff. I will share my notes, thoughts, and experiences here from time to time.</p>
      </div>
      <p>
      <a href="mailto:7814324@qq.com" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Contact Me</a>
      <a href="/#section-about" class="btn btn-secondary px-4 py-2 btn-sm">装修中</a>
      </p>
      </div>
      </div>
      </div>
    </section>

    <section class="site-section" id="section-laboratory">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-5">
          <div class="section-heading text-center">
          <h2>My <strong>Laboratory</strong></h2>
          </div>
          </div>
        </div>
        <div class="row">
            <div >{{ content }}</div>
        </div>
      </div>
    </section>
    {% include footer.html %}
    {% include google_analytics.html %}
  </body>
</html>